.header {
  display: flex;
  justify-content: space-between;
}
.header > img {
  width: 100%;
}
#bgcolor {
  background: linear-gradient(blue, lightblue);
}

.menu1 > li > a {
  color: white;
  text-decoration: none;
  padding: 0 20px;
}

.menu1 {
  display: flex;
  list-style: none;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
}
