/*chinh web ko còn khoảng trắng*/
body {
  margin: 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header > img {
  width: 100%;
}
#bgcolor {
  background: linear-gradient(blue, lightblue);
}

.menu1 > li > a {
  color: white;
  text-decoration: none;
  padding: 0 20px;
}

.menu1 {
  display: flex;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
}
header .menu2 > li > a {
  text-decoration: none;
  color: white;
  text-align: center;
}
header .menu2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 100%;
  font-weight: bold;
  padding: 0 20px;
}
header .menu2 > li {
  position: relative;
 text-align: center;
  width: 12.5%;
  height: 40px;
  padding-top: 10px;
}

.menu2 li:hover{
  background-color: burlywood;
}

.dropdown {
  position: absolute;
  list-style: none;
  width: 180px;
  background-color: aqua;
  padding: 0;
}
.dropdown > li > a {
  text-decoration: none;
  display: block;
}
.dropdown > li {
  padding: 10px;
  border-bottom: 1px solid darkblue;
  display: none;

}

.menu2 li:hover .dropdown{
  display: block;
}
